﻿@model Dlp.Web.Areas.Dashboard.Models.Expressions.ExpressionPostViewModel
@{
	ViewData["Title"] = "Edit";
}

<h2>Edit Expression</h2>
<form asp-action="Edit" method="post">
	<div class="form-group">
		<label asp-for="Name">Name</label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Expression">Expression</label>
		<input asp-for="Expression" class="form-control" />
		<span asp-validation-for="Expression" class="text-danger"></span>
	</div>
	<input type="hidden" value="@ViewData["Id"]"/>
	<button type="submit" class="btn btn-primary">Save</button>
</form>
@section Scripts
{
	@await Html.PartialAsync("_ValidationScriptsPartial");
}