﻿@model IEnumerable<Dlp.Web.Areas.Dashboard.Models.Expressions.ExpressionViewModel>
@{
	ViewData["Title"] = "Index";
}

<h2>Expressions</h2>
<div><a class="btn btn-primary" href="@Url.Action("Create")">Create New Expression</a></div>
<div class="clearfix">
	@foreach (var item in Model)
	{
		<section class="section-half section">
			<h4>@item.Name</h4>
			<div class="inner-section">
				<p>@item.Expression</p></div>
			<div>
				<a class="action action-warn edit-button" href="@Url.Action("Edit", new {id = item.Id})" data-id="@item.Id"><i class="fas fa-edit"></i> Edit</a>
				<a class="action action-red delete-button" data-id="@item.Id"><i class="fas fa-trash"></i> Delete</a>
			</div>
		</section>
	}
</div>

@section Scripts
{
	<script src="~/js/vm/dashboard/expression-create.js"></script>
}
