﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

.section {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  margin: 20px 0;
}

.section-half {
  width: 48%;
  margin: 1%;
  float: left;
}

.section-half:nth-of-type(2n-2) {
  clear: right;
  margin-right: 0;
}

.section-half:nth-of-type(2n-1) {
  clear: left;
  margin-left: 0;
}

.inner-section {
  padding: 10px;
}
p {
  margin: 10px 0;
}

.action {
  border-radius: 10px;
  padding: 5px 15px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}
.action:first-of-type {
  margin-left: 0;
}
.action:last-of-type {
  margin-right: 0;
}
.action-red {
  background-color: red;
  color: #fff;
}
.action-warn {
  background-color: darkorange;
  color: #fff;
}

.modal {
  padding: 40px;
  width: 400px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  margin-top: -100px;
  color: #000000;
  box-shadow: 1px 1px 4px 0 #000000;
}
.modal .action {
  margin-top: 50px;
}

.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
